.layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--light-bg);
}

.main {
    flex: 1;
    margin-left: 260px;
    transition: margin-left 0.3s ease;
}

.main.expanded {
    margin-left: 0;
}

.content {
    padding: 24px;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}